body {
  font-size: 2em;
  margin: 30px 30px;
}
h1 {
  font-size: 1em;

}
h2 {

}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 10px;
}

@media screen and (min-width: 540px) {
  body {
    background-color: red;
  }

  figure img figcaption {
    display:flex;
    flex-wrap: wrap;
  }
}