body{
    background-color: rgb(18, 236, 243);
}

.title-page{
    
    text-align: center;
    margin-top: 60px;
}

.nav-links{
    text-align: center;
    font-size: larger;
}

h2,h3 {
    text-align: center;
}

p {
    text-align: center;
}


th {
    font-size: larger;
}

table, th, td{
    border:1px solid black;
    padding: 5px 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#vision{
    width: 400px;
}

#distribution{
    width: 400px;
}

#punch {
    width: 400px;
}