h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration:underline;
}

#favorite-colors {
    background-color: aqua;
}

.list-parag-style {
    background-color: blueviolet;
} 

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    line-height: 60px;
    font-size: 16px;
}

.item-yellow {
    background-color: yellow;
}

.item-red{
    background-color: red;
}

.item-brown{
    background-color: brown;
}